---
import type { LocaleKey } from '@/i18n/ui';
import { getProjectsByLanguage, getImagePath, getRepoUrl } from '@/utils/projects';
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { Transitions } from '@/i18n/utils';
import ProjectCard from '@/components/ui/ProjectCard.astro';
import Section from '@/components/Section.astro';
import { getRepository } from '@/api/github/repository';

interface Props {
  lang: LocaleKey;
  t: Transitions;
}

const { lang, t } = Astro.props;

const translatedProjects = await getProjectsByLanguage(lang);

const projects = await Promise.all(
  translatedProjects.map(async ({ slug, data }) => {
    const repoUrl = getRepoUrl(data.repo_url, slug);
    const img = getImagePath(data.screenshot, slug);
    const dataRepo = repoUrl ? await getRepository('nicoarbelaez', repoUrl?.split('/')[4]) : null;

    return {
      ...data,
      img,
      slug,
      repo_url: repoUrl,
      github: dataRepo
    };
  })
).then((results) => results.sort((a, b) => b.priority - a.priority));
---

<Section id="projects" title={t('nav.projects')}>
  <div class="flex flex-col gap-y-10 md:grid md:grid-cols-2 md:gap-x-12 md:gap-y-8">
    {
      projects.map(({ slug, img, title, stack, description, repo_url, demo_url, github, show_repo }) => (
        <ProjectCard
          href={getRelativeLocaleUrl(lang, `/projects/${slug}`)}
          slug={slug}
          img={img}
          title={title}
          stack={stack}
          description={description}
          repoUrl={repo_url}
          demoUrl={demo_url}
          isFork={github?.fork}
          showRepo={show_repo}
          t={t}
        />
      ))
    }
  </div>
</Section>
