---
import type { LocaleKey } from '@/i18n/ui';
import { getProjectsByLanguage } from '@/utils/projects';
import { getRelativeLocaleUrl } from 'astro:i18n';
import ArrowRight from '@/icons/ArrowRight.astro';

interface Props {
  lang: LocaleKey;
}

const { lang } = Astro.props;

const projects = await getProjectsByLanguage(lang);
---

<section>
  <h2 class="mb-8 text-3xl font-semibold text-gray-800 dark:text-gray-100">My Projectsitories</h2>
  <div class="grid grid-cols-2 gap-6">
    {
      projects.map(
        ({ slug, data: { screenshot, title, tags, difficulty, description } }, index) => {
          const img = screenshot ? screenshot : `/img/projects/${slug}.webp`;
          return (
            <a href={getRelativeLocaleUrl(lang, `/projects/${slug}`)} class=" ">
              <img
                transition:name={`img-${slug}`}
                src={img}
                alt={`Screenshot of ${title}`}
                class="h-40 w-full object-cover transition-transform duration-300 group-hover:scale-105"
              />

              <div class="p-6">
                <h3
                  transition:name={`title-${slug}`}
                  class="mb-2 text-2xl font-bold text-gray-900 transition-colors duration-200 group-hover:text-indigo-600 dark:text-gray-100"
                >
                  {title}
                </h3>

                {description && (
                  <p
                    transition:name={`description-${slug}`}
                    class="mb-4 text-gray-600 dark:text-gray-400"
                  >
                    {description}
                  </p>
                )}

                <div class="mb-4 flex flex-wrap gap-2">
                  <span class="inline-block rounded-full bg-indigo-100 px-3 py-1 text-xs font-medium text-indigo-800 uppercase">
                    {difficulty}
                  </span>
                  {tags.map((tag) => (
                    <span class="inline-block rounded-full bg-gray-100 px-3 py-1 text-xs font-medium text-gray-700 dark:bg-gray-800 dark:text-gray-300">
                      {tag}
                    </span>
                  ))}
                </div>

                <span class="inline-flex items-center text-sm font-semibold text-indigo-600 group-hover:underline">
                  View project
                  <ArrowRight />
                </span>
              </div>
            </a>
          );
        }
      )
    }
  </div>
</section>
