---
import type { Transitions } from '@/i18n/utils';
import { LINKS } from '@/constans/link.ts';
import Github from '@/icons/Github.astro';
import Linkedin from '@/icons/Linkedin.astro';
import { getYearsSince } from '@/utils/date';

interface Props {
  t: Transitions;
}

const { t } = Astro.props;
const description = t('hero.description').replace(
  '%years-experience%',
  getYearsSince('2023-01-01').toString()
);

const socialMedia = [
  { icon: Github, href: LINKS.GITHUB },
  { icon: Linkedin, href: LINKS.LINKEDIN }
];
---

<header class="flex justify-between">
  <div>
    <div>
      <h1 class="text-4xl font-bold tracking-tight text-slate-200/95 sm:text-5xl">
        <a href="#">Nicolas Arbelaez</a>
      </h1>
      <h2 class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl">
        {t('hero.professional')}
      </h2>
      <p class="mt-4 max-w-xs leading-normal text-slate-400/95">
        {description}
      </p>
    </div>

    <ul class="mt-8 ml-1 flex items-center" aria-label="Social media">
      {
        socialMedia.map(({ icon: Icon, href }) => {
          const name = Icon.name;
          const label = `${name} (se abre en nueva pestaña)`;

          return (
            <li class="mr-5 shrink-0 text-xs">
              <a
                class="block text-slate-400/95 hover:text-slate-200"
                href={href}
                target="_blank"
                rel="noreferrer noopener"
                aria-label={label}
                title={name}
              >
                <span class="sr-only">{name}</span>
                <Icon />
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <div class="animate-float hidden size-60 md:block lg:size-70">
    <img
      class="rounded-xl border-x-4 border-t-4 border-slate-950/20 mask-b-from-85%"
      src="https://github.com/nicoarbelaez.png"
      alt="Github profile image"
    />
    <img
      class="pointer-events-none absolute inset-0 -z-10 size-full opacity-70 blur-2xl saturate-200"
      src="https://github.com/nicoarbelaez.png"
      alt="Github profile image (blur)"
    />
  </div>
</header>
