---
import { getCurrentLang, useTranslations } from '@/i18n/utils';
import { type Project } from '@/utils/projects';
import Layout from '@/layouts/Layout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Badge from '@/components/ui/Badge.astro';
import ArrowRight from '@/icons/ArrowRight.astro';
import ImagePlaceholder from '@/components/ui/ImagePlaceholder.astro';

interface Props {
  project: Project;
}

const { project } = Astro.props as Props;
const lang = getCurrentLang(Astro.currentLocale);
const t = useTranslations(lang);

const { slug, data } = project;
const { title, description, screenshot, stack } = data;
const img = screenshot ? screenshot : `/img/projects/${slug}.webp`;
const { Content } = await project.render();
---

<Layout title={title} lang={lang}>
  <section class="mx-auto max-w-3xl px-6 pt-20">
    <a href={`${getRelativeLocaleUrl(lang)}#${slug}`} class="mb-6 inline-flex items-center">
      <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
        <div
          class="inline-flex items-center justify-center rounded-full bg-teal-300/10 px-4 py-2 text-sm text-teal-300 transition hover:bg-teal-300/20"
        >
          <ArrowRight class="mr-2 rotate-180" />
          {t('action.back')}
        </div>
      </span>
    </a>

    <article class="lg:prose-lg prose-sm">
      <h1 transition:name={`title-${slug}`} class="mb-4">
        {title}
      </h1>

      <ImagePlaceholder
        transitionName={`img-${slug}`}
        src={img}
        alt={`Screenshot of ${title}`}
        class="aspect-16/9 rounded-md border-2 border-slate-200/10 object-cover group-hover:border-slate-200/30 hover:border-slate-200/30"
      />

      <p transition:name={`description-${slug}`}>
        {description}
      </p>

      {
        stack && (
          <ul class="flex flex-wrap gap-2">
            {stack.map((tech) => (
              <Badge>{tech}</Badge>
            ))}
          </ul>
        )
      }

      <Content />
    </article>
  </section>
</Layout>
