---
import ArrowRight from '@/icons/ArrowRight.astro';

interface Props {
  href: string;
  slug: string;
  img: string;
  title: string;
  tags: string[];
  difficulty: string;
  description: string;
}

const { slug, img, title, tags, difficulty, description, href } = Astro.props;
---

<a id={`${slug}`} href={href} class="group flex flex-col md:grid md:grid-cols-3 md:gap-4">
  <img
    transition:name={`img-${slug}`}
    src={img}
    alt={`Screenshot of ${title}`}
    class="order-2 aspect-16/9 max-w-46 rounded-md border-2 border-slate-200/10 object-cover group-hover:border-slate-200/30 hover:border-slate-200/30 md:my-6"
  />

  <div class="flex flex-col justify-between gap-y-2">
    <div class="flex flex-col gap-y-1">
      <h3
        transition:name={`title-${slug}`}
        class="text-sm font-medium transition-colors duration-200 group-hover:text-teal-300"
      >
        {title}
        <ArrowRight class="size-4 transition group-hover:translate-x-1" />
      </h3>

      <p transition:name={`description-${slug}`} class="text-sm">
        {description}
      </p>
    </div>

    <div class="mb-2">
      <div class="flex flex-wrap gap-2">
        <span
          class="inline-block rounded-full bg-indigo-100 px-3 py-1 text-xs font-medium text-indigo-800 uppercase"
        >
          {difficulty}
        </span>
        {
          tags.map((tag) => (
            <span class="inline-block rounded-full bg-gray-100 px-3 py-1 text-xs font-medium text-gray-700 dark:bg-gray-800 dark:text-gray-300">
              {tag}
            </span>
          ))
        }
      </div>
    </div>
  </div>
</a>
