---
import Badge from '@/components/ui/Badge.astro';
import type { LocaleKey } from '@/i18n/ui';
import type { Transitions } from '@/i18n/utils';
import { format } from '@formkit/tempo';

interface Props {
  lang: LocaleKey;
  company: string;
  role: string;
  description: string;
  startDate: string;
  endDate?: string;
  skills: string[];
  t: Transitions;
}

const { lang, company, role, description, startDate, endDate, skills, t } = Astro.props;

function formatDateWithTempo(dateStr: string | undefined, locale = 'es') {
  if (!dateStr) return null;
  const date = new Date(dateStr);
  return format(date, 'MMM YYYY', locale);
}

const formatDate = (dateStr: string | undefined) =>
  dateStr
    ? formatDateWithTempo(dateStr, lang) // 'lang' puede venir de tu i18n
    : t('experience.current');

const dateRange = `${formatDate(startDate)} – ${formatDate(endDate)}`;
---

<article class="group flex scroll-mt-28 flex-col gap-y-4">
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold text-slate-200/95">
      {company}
    </h3>
    <time class="text-sm text-slate-500 uppercase">
      {dateRange}
    </time>
  </div>

  <div class="flex flex-col gap-y-2">
    <h4 class="font-medium text-slate-300/90">{role}</h4>
    <p class="text-sm text-pretty text-slate-400/95">
      {description}
    </p>
  </div>

  <div class="flex flex-wrap gap-2">
    {skills.map((skill) => <Badge>{skill}</Badge>)}
  </div>
</article>
